@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.navbar,
.hero-section{
    background-color: #1f2937;
    padding: 2em 300px;
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.navbar h2{
    font-size: 24px;
    color: #f9faf8;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 100px;
    
}

.hero-para {
    max-width: 30%;
}

.hero-section button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    margin-top: 1em;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}


.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 200px;
    
}

.info-section h3{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0;
}

.info-section ul{
    display: flex;
    gap: 32px;
}

.img-holder{
    position: relative;
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 14px;
}

.img-holder p{
    position: absolute;
    top: 210px;
    max-width: 200px;
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 1.2em;
}


.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}


.quote h2{
    max-width: 45%;
    padding-top: 120px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote p{
    font-weight: bold;
    text-align: right;
    padding-left: 50px;
    padding-bottom: 120px;
}


.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}

.blue-bg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
    background-color: #3882F6;
    color: #fff;
    padding: 38px 32px;
    border-radius: 10px;
}


.blue-bg button{
    background-color: #3882F6;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px 30px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: bold;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 32px;
    background-color: #1f2937;
    color: #e5e7eb;
}